<style>
  

    .content {
        min-height: calc(100% - 60px); /* Adjust the value (60px) to match your footer's height */
        padding-bottom: 60px; /* Adjust the value to match your footer's height */
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: #333; /* Adjust the background color as needed */
        color: #fff; /* Adjust the text color as needed */
        text-align: center;
        padding: 20px 0; /* Adjust padding as needed */
    }

</style>

<footer class="footer">
    <div class="container-fluid">
        <div class="footer-in">
            <p class="mb-0">&copy 2023 Inventory System. All Rights Reserved.</p>
        </div>
    </div>
</footer>
