<style>
    .nav-profile {
        width: 40px;
        border-radius: 50%;
    }
</style>
<div class="top-navbar">
    <div class="xd-topbar">
        <div class="row">
            <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                <div class="xp-menubar">
                    <span class="material-icons text-white">signal_cellular_alt</span>
                </div>
            </div>
            <div class="col-md-5 col-lg-3 order-3 order-md-2">
                <div class="xp-searchbar">
                    <form>
                    </form>
                </div>
            </div>
            <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
                <div class="xp-profilebar text-right">
                    <nav class="navbar p-0">
                        <ul class="nav navbar-nav flex-row ml-auto">
                            <li class="dropdown nav-item">
                                <a class="nav-link" data-toggle="dropdown">
                                    <img id="imageName" class="nav-profile" alt="Image">
                                    @*<span class="xp-user-live"></span>*@
                                    <label id="userNameLabel" class="d-none d-md-inline-block ml-2"></label>
                                </a>
                                <ul class="dropdown-menu small-menu">
                                    <li>
                                        <a>
                                            @Html.ActionLink("Logout", "RemoveCookie", "Auth", new { area = "" }, new { @class = "link", id = "logoutLink" })
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <label id="userNameLabel" class="d-none d-md-inline-block ml-2"></label>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="xp-breadcrumbbar text-center">
            <h4 class="page-title">INVENTORY MANAGEMENT SYSTEM</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-curent="page"></li>
            </ol>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        function authenticateUser() {
            const cookieName = "Session";
            let sessionKey = Cookies.get(cookieName);
            if (sessionKey) {
                // Session cookie exists, fetch user details
                $.ajax({
                    url: '/Auth/GetTheUserDetailsBySession',
                    type: 'GET',
                    data: { session: sessionKey },
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            // Update the user name
                            $('#userNameLabel').text(data.UserName);
                            // Fetch and display the user image
                            fetchImage(data.ImageName);

                            // Show the logout link
                            $("#logoutLink").show();
                        } else {
                            console.log('Session not found or user details not available.');
                            window.location.href = '/';
                        }
                    },
                    error: function () {
                        console.log('Error occurred during the AJAX request.');
                    }
                });
            } else {
                console.log('Session cookie not found.');
                window.location.href = '/';
            }

            // Logout link click event
            $("#logoutLink").click(function () {
                Cookies.remove(cookieName);
                window.location.href = '/';
            });
        }
        authenticateUser();
    });

    function fetchImage(imageName) {
        var imageElement = document.getElementById('imageName');
        var imageUrl = 'http://localhost:55811/Auth/GetImage?imageName=' + imageName; 
        imageElement.src = imageUrl;
    }
</script>
