<div class="row">
    <div class="col-md-12">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                        <h2 class="ml-lg-2">Manage  Customers</h2>
                    </div>
                    <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>Add New Customer</span>
                        </a>
                    </div>
                </div>
            </div>
            <table id="userDetailsTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CUSTOMER NAME</th>
                        <th>CONTACT NUMBER</th>
                        <th>ADDRESS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="option[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </th>
                        <th>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                            </a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                            </a>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">showing <b>5</b> out of <b>25</b></div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item "><a class="page-link">1</a></li>
                    <li class="page-item "><a class="page-link">2</a></li>
                    <li class="page-item active"><a class="page-link">3</a></li>
                    <li class="page-item "><a class="page-link">4</a></li>
                    <li class="page-item "><a class="page-link">5</a></li>
                    <li class="page-item "><a class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!----add-modal start--------->
    <div class="modal fade" tabindex="-1" id="addEmployeeModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="addName" name="addName" required>
                    </div>
                    <div class="form-group">
                        <label>Contact Numebr</label>
                        <input type="text" class="form-control" id="addContactNumber" name="addContactNumber" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" id="addAddress" name="addAddress" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " id="cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!----edit-modal end--------->
    <!----edit-modal start--------->
    <div class="modal fade" tabindex="-1" id="editEmployeeModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editEmployeeForm">
                        <div class="form-group">
                            <label for="editUserId">Customer ID:</label>
                            <input type="text" class="form-control" id="editUserId" name="editUserId" required disabled>
                        </div>
                        <div class="form-group">
                            <label for="editUserName">User Name:</label>
                            <input type="text" class="form-control" id="editUserName" name="editUserName" required>
                        </div>
                        <div class="form-group">
                            <label for="editContactNumebr">Contact Number:</label>
                            <input type="text" class="form-control" id="editContactNumebr" name="editContactNumebr" required>
                        </div>
                        <div class="form-group">
                            <label for="editAddress">Address:</label>
                            <textarea type="text" class="form-control" id="editAddress" name="editAddress" required> </textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" id="saveEditButton">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!----edit-modal end--------->
    <!----delete-modal start--------->
    <div class="modal fade" tabindex="-1" id="deleteEmployeeModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Employees</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this Records</p>
                    <p class="text-warning"><small>this action Cannot be Undone,</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!----delete-modal End--------->
</div>

<script>
    $(document).ready(function () {
        // Add new customer
        $("#addEmployeeModal").on('click', '.btn-success', function () {
            var customerName = $("#addEmployeeModal input[name='addName']").val();
            var phoneNumber = $("#addEmployeeModal input[name='addContactNumber']").val();
            var customerAddress = $("#addEmployeeModal textarea[name='addAddress']").val();

            if (!customerName || !phoneNumber || !customerAddress) {

                alert("Please fill in all required fields.");
            }
            else
            {
                // All fields are filled, proceed with the AJAX request
                var data = {
                    CustomerName: customerName,
                    PhoneNumber: phoneNumber,
                    CustomerAddress: customerAddress
                }
                $.ajax({
                    type: "POST",
                    url: "/Customer/SaveCustomer", // Replace 'ControllerName' with your actual controller name
                    data: data,
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {
                            // Handle success, e.g., show a success message and close the modal
                            alert(result.message);
                            
                            loadDataIntoTable(); // Load table data
                        } else {

                            console.log("Failure response received")
                           
                            alert(result.message);
                        }
                    },
                    error: function () {
                        // Handle AJAX error
                        alert("An error occurred while processing your request.");
                    }
                });
            };


        });
        function loadDataIntoTable() {
            $.ajax({
                url: '/Customer/GetCustomerDetails',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#userDetailsTable tbody').empty();
                    $.each(data, function (index, item) {
                        var row =
                            '<tr>' +
                            '<td>' + item.CustomerId + '</td>' +
                            '<td>' + item.CustomerName + '</td>' +
                            '<td>' + item.CustomerAddress + '</td>' +
                            '<td>' + item.CustomerPhoneNumber + '</td>' +
                            '<td>' +
                            '<button class="btn btn-info edit-button btn-sm" data-id="' + item.CustomerId + '">Edit</button>' +
                            '<button class="btn btn-danger delete-button btn-sm" data-id="' + item.CustomerId + '">Delete</button>' +
                            '</td>' +
                            '</tr>';
                        $('#userDetailsTable tbody').append(row);
                    });
                },
                error: function () {
                    alert("An error occurred while loading data.");
                }
            });
        }

        $.ajax({
            //Start Data load the table
            url: '/Customer/GetCustomerDetails',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#userDetailsTable tbody').empty();
                $.each(data, function (index, item) {
                    var row =
                        '<tr>' +
                        '<td>' + item.CustomerId + '</td>' +
                        '<td>' + item.CustomerName + '</td>' +
                        '<td>' + item.CustomerAddress + '</td>' +
                        '<td>' + item.CustomerPhoneNumber + '</td>' +
                        '<td>' +
                        '<button class="btn btn-info edit-button btn-sm" data-id="' + item.CustomerId + '">Edit</button>' +
                        '<button class="btn btn-danger delete-button btn-sm" data-id="' + item.CustomerId + '">Delete</button>' +
                        '</td>' +
                        '</tr>';
                    $('#userDetailsTable tbody').append(row);
                });
                $('.delete-button').click(function () {
                    var CustomerId = $(this).data('id');
                    // Confirm with the user before proceeding with the deletion
                    var confirmation = confirm('Are you sure you want to delete this user?');
                    if (confirmation) {
                        // Send an AJAX request to delete the user
                        $.ajax({
                            url: '/Customer/DeleteCustomer',
                            type: 'POST',
                            data: { CustomerId: CustomerId }, // Pass the userId as data
                            success: function (response) {
                                if (response === 'Delete') {
                                    alert('User deleted successfully');
                                    loadDataIntoTable(); // Load table data

                                } else {
                                    alert('Failed to delete user');
                                }
                            },
                            error: function () {
                                // Handle error here
                                alert('Error deleting user');
                            }
                        });
                    }
                });
                // Add click event handler for the "Edit" button
                $('.edit-button').click(function () {
                    var CustomerId = $(this).data('id');

                    // Fetch user details by ID using another AJAX request
                    $.ajax({
                        url: '/Customer/GetCustomerDetailsById/' + CustomerId,
                        type: 'GET',
                        dataType: 'json',
                        success: function (userData) {
                            // Populate the modal with user data
                            $('#editEmployeeModal input[name="editUserId"]').val(userData.CustomerId);
                            $('#editEmployeeModal input[name="editUserName"]').val(userData.CustomerName);
                            $('#editEmployeeModal input[name="editContactNumebr"]').val(userData.PhoneNumber);
                            $('#editEmployeeModal textarea[name="editAddress"]').val(userData.CustomerAddress);
                            $('#editEmployeeModal').modal('show');
                        },
                        error: function () {
                            alert('Error fetching user data');
                        }
                    });
                });

                // cancel edit menu
                $("#cancelButton").click(function () {
                    $("#editEmployeeModal").modal("hide");
                });
                $("#cancel").click(function () {
                    $("#editEmployeeModal").modal("hide");
                });
                $("#saveEditButton").click(function () {
                    var CustomerId = $("#editUserId").val();
                    var CustomerName = $("#editUserName").val();
                    var CustomerPhoneNumber = $("#editContactNumebr").val();
                    var CustomerAddress = $("#editAddress").val();

                    // create a data object to send server
                    var Data = {
                        CustomerId: CustomerId,
                        CustomerName: CustomerName,
                        PhoneNumber: CustomerPhoneNumber,
                        CustomerAddress: CustomerAddress
                    }
                    // Send an ajax request to update the user details
                    $.ajax({
                        url: "/Customer/EditCustomerDetails",
                        method: "POST",
                        data: Data,
                        success: function (response) {
                            if (response === "Success") {
                                $("#editEmployeeModal").modal("hide");
                                alert("User is update pleas check the data")
                                loadDataIntoTable(); // Load table data
                            }
                            else {
                                alert("User is not update pleas check the data")
                            }
                            console.log("Employee details updated successfully");
                        },
                        error: function (error) {
                            console.error("Error updating employee details: " + error.responseText);
                        }
                    });
                })
            },
            error: function () {
                // Handle error here
                alert('Error fetching data');
            }
        });


    });
</script>