
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link href="~/wwwroot/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/wwwroot/css/custom.css" rel="stylesheet" />
<!--google material icon-->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

@{
    ViewData["Title"] = "Dashbord";
}

<body>
    <div class="wrapper">

        <div class="body-overlay"></div>

        <!--Side menu start-->
        <!-------sidebar--design------------>

        <div id="sidebar">
            <div class="sidebar-header">
                <h3><img src="~/Img/ICBT Logo.jpg" class="img-fluid" /><span>Inventory</span></h3>
            </div>
            <ul class="list-unstyled component m-0">
                <li class="dropdown">
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">
                        <i class="material-icons">account_circle</i>Users
                    </a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                        <li><a href="/Main/SystemUsersView">Manage System Users</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">
                        <i class="material-icons">folder_shared</i>Customer
                    </a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu2">
                        <li><a href="/Main/Customer">Manage Customers</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">
                        <i class="material-icons">autorenew</i>Supplier
                    </a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu3">
                        <li><a href="/Main/Supplier">Manage Supplier</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">
                        <i class="material-icons">extension</i>Product
                    </a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu4">
                        <li><a>Product</a></li>
                        <li><a>Brand</a></li>
                        <li><a>Product Variant</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#homeSubmenu5" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">
                        <i class="material-icons">border_color</i>Stock
                    </a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu5">
                        <li><a>Main Stock</a></li>
                        <li><a>Invoice</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--Side menu end-->
        <!-------page-content start----------->
        <div id="content">
            <!------top-navbar-start----------->
            @Html.Partial("DashBoardLayout/_NavBar")
            <!------top-navbar-end----------->
            <!------main-content-start----------->
            <div class="main-content">
                @Html.Partial("HomePage")
            </div>
            <!------main-content-end----------->
            <!--footer start-->
            @Html.Partial("DashBoardLayout/_Footer")
            <!--footer end-->
        </div>
    </div>

    <!-------complete html----------->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/wwwroot/js/jquery-3.3.1.min.js"></script>
    <script src="~/wwwroot/js/popper.min.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            $(".xp-menubar").on('click', function () {
                $("#sidebar").toggleClass('active');
                $("#content").toggleClass('active');
            });
            $('.xp-menubar,.body-overlay').on('click', function () {
                $("#sidebar,.body-overlay").toggleClass('show-nav');
            });
        });

        $(document).ready(function () {
            $('.collapse#homeSubmenu1 li a[href="/Main/SystemUsersView"]').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Main/SystemUsersView',
                    method: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        $('.main-content').html(data);
                    },
                    error: function () {
                        alert('Error loading content.');
                    }
                });
            });
        });

        $('.collapse#homeSubmenu2 li a[href="/Main/Customer"]').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Main/Customer',
                method: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('.main-content').html(data);
                },
                error: function () {
                    alert('Error loading content.');
                }
            });
        });


        $('.collapse#homeSubmenu3 li a[href="/Main/Supplier"]').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Main/Supplier',
                method: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('.main-content').html(data);
                },
                error: function () {
                    alert('Error loading content.');
                }
            });
        });



    </script>





</body>
