
@{
    ViewBag.Title = "ProductVariant";
}

<h2>ProductVariant</h2>

<div class="row">
    <div class="col-md-12">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                        <h2 class="ml-lg-2">Manage Products</h2>
                    </div>
                    <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>Add New Variant</span>
                        </a>
                        @*<a href="#addProductQuantity" class="btn btn-danger" data-toggle="modal">
                                <i class="material-icons">add_circle_outline</i>
                                <span>Add Quantity</span>
                            </a>*@
                    </div>
                </div>
            </div>
            <table id="userDetailsTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Product Variant Id</th>
                        <th>ProductId</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="option[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </th>
                        <th>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                            </a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                            </a>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">showing <b>5</b> out of <b>25</b></div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item "><a class="page-link">1</a></li>
                    <li class="page-item "><a class="page-link">2</a></li>
                    <li class="page-item active"><a class="page-link">3</a></li>
                    <li class="page-item "><a class="page-link">4</a></li>
                    <li class="page-item "><a class="page-link">5</a></li>
                    <li class="page-item "><a class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!----add-modal start--------->
    <div class="modal fade" tabindex="-1" id="addEmployeeModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Product Variant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Product</label>
                        <select class="form-select form-control" id="addProductId" name="addProductId" required>
                            <option selected>Choose a Product</option>
                        </select>
                        <label id="lblAddProductId" class="text-danger"></label>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" class="form-control" id="addDescription" name="addDescription" required> </textarea>
                        <label id="lblAddDescription" class="text-danger"></label>
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" class="form-control" id="addQuantity" name="addQuantity" required>
                        <label id="lblAddQuantity" class="text-danger"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!--Add model end-->
    <!----edit-modal start--------->
    <div class="modal fade" tabindex="-1" id="editEmployeeModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Supplier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editEmployeeForm">
                        <div class="form-group">
                            <label for="editUserId">Product ID:</label>
                            <input type="text" class="form-control" id="editProductId" name="editProductId" required disabled>
                        </div>
                        <div class="form-group">
                            <label>Product</label>
                            <input type="text" class="form-control" id="editProduct" name="editProduct" required disabled>

                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" class="form-control" id="editDescription" name="editDescription" required> </textarea>
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" class="form-control" id="editQuantity" name="editQuantity" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" id="saveEditButton">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!----edit-modal end--------->
</div>

<script>

    $(document).ready(function () {
        // Add new Product Variant
        $("#addEmployeeModal").on('click', '.btn-success', function () {
            if (validateForm()) {
                var data = {
                    ProductId: $("#addProductId").val(),
                    Description: $("#addEmployeeModal textarea[name='addDescription']").val(),
                    Quantity: $("#addEmployeeModal input[name='addQuantity']").val()
                };
                $.ajax({
                    type: "POST",
                    url: "/Product/AddProductVariant",
                    data: data,
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {
                            alert("Supplier added successfully");
                            loadDataIntoTable(); // Load table data
                            $("#addEmployeeModal").modal('hide');
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        // Handle AJAX error
                        alert("An error occurred while processing your request.");
                    }
                });
            }

        });

        // cancel edit menu
        $("#cancelButton").click(function () {
            $("#editEmployeeModal").modal("hide");
        });

        $("#cancelButton").click(function () {
            $("#editEmployeeModal").modal("hide");
        });

        function loadDataIntoTable() {
            $.ajax({
                url: '/Product/GetProductVariants',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#userDetailsTable tbody').empty();
                    $.each(data, function (index, item) {
                        var row =
                            '<tr>' +
                            '<td>' + item.ProductVariantId + '</td>' +
                            '<td>' + item.ProductName + '</td>' +
                            '<td>' + item.Description + '</td>' +
                            '<td>' + item.Quantity + '</td>' +
                            '<td>' + item.UnitPrice + '</td>' +
                            '<td>' +
                            '<button class="btn btn-info edit-button btn-sm" data-id="' + item.ProductVariantId + '">Edit</button>' +
                            '<button class="btn btn-danger delete-button btn-sm" data-id="' + item.ProductVariantId + '">Delete</button>' +
                            '</td>' +
                            '</tr>';
                        $('#userDetailsTable tbody').append(row);
                    });
                },
                error: function () {
                    alert("An error occurred while loading data.");
                }
            });
        }
        $.ajax({
            //Start Data load the table
            url: '/Product/GetProductVariants',
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                $('#userDetailsTable tbody').empty();
                $.each(data, function (index, item) {
                    var row =
                        '<tr>' +
                        '<td>' + item.ProductVariantId + '</td>' +
                        '<td>' + item.ProductName + '</td>' +
                        '<td>' + item.Description + '</td>' +
                        '<td>' + item.Quantity + '</td>' +
                        '<td>' + item.UnitPrice + '</td>' +
                        '<td>' +
                        '<button class="btn btn-info edit-button btn-sm" data-id="' + item.ProductVariantId + '">Edit</button>' +
                        '<button class="btn btn-danger delete-button btn-sm" data-id="' + item.ProductVariantId + '">Delete</button>' +
                        '</td>' +
                        '</tr>';
                    $('#userDetailsTable tbody').append(row);
                });

                $('.delete-button').click(function () {
                    var Id = $(this).data('id');
                    var confirmation = confirm('Are you sure you want to delete this user?');
                    if (confirmation) {
                        // Send an AJAX request to delete the user
                        $.ajax({
                            url: '/Product/DeleteProductVariant?Id=' + Id,
                            type: 'POST',
                            success: function (response) {
                                if (response === 'Delete') {
                                    alert('User deleted successfully');
                                    loadDataIntoTable(); // Load table data

                                } else {
                                    alert('Failed to delete user');
                                }
                            },
                            error: function () {
                                // Handle error here
                                alert('Error deleting user');
                            }
                        });
                    }
                });
                // Add click event handler for the "Edit" button
                $('.edit-button').click(function () {
                    var ProductId = $(this).data('id');
                    $.ajax({
                        url: '/Product/GetProductVariantsGetById?Id=' + ProductId,
                        type: 'GET',
                        dataType: 'json',
                        success: function (userData) {
                            $('#editProductId').val(userData.ProductVariantId);
                            $('#editProduct').val(userData.ProductName);
                            $('#editDescription').val(userData.Description);
                            $('#editQuantity').val(userData.Quantity);
                            $('#editEmployeeModal').modal('show');

                            console.log(userData)
                        },
                        error: function () {
                            alert('Error fetching user data');
                        }
                    });
                });

                $("#saveEditButton").click(function () {
                    var ProductVariantId = $("#editProductId").val();
                    var Description = $("#editDescription").val();
                    var StockQuantity = $("#editQuantity").val();
                    var Data = {
                        ProductVariantId: ProductVariantId,
                        Description: Description,
                        Quantity: StockQuantity
                    }
                    $.ajax({
                        url: "/Product/UpdateProductVariant",
                        method: "POST",
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(Data),
                        success: function (response) {
                            if (response.success === true) {
                                $("#editEmployeeModal").modal("hide");
                                alert("Product is updated, please check the data");
                                loadDataIntoTable();
                            } else {
                                alert("Product is not updated, please check the data");
                            }
                            console.log("Product details updated successfully");
                        }
                    });
                })
            },
            error: function () {
                // Handle error here
                alert('Error fetching data');
            }
        });

        //-- Load the data selection to Supplier --//
        $.ajax({
            type: "GET",
            url: "/Product/GetProductVariantsIdAndName",
            dataType: "json",
            success: function (data) {
                $("#addProductId").empty();
                $.each(data, function (index, item) {
                    $("#addProductId").append($('<option>', {
                        value: item.ProductId,
                        text: item.ProductName
                    }));
                });

            },
            error: function () {
                alert("Failed to load brands.");
            }
        });

    });

    function validateForm() {
        var isValid = true;
        $('.text-danger').text('');

        // Validate Product selection
        var productId = $('#addProductId').val();
        if (productId === "Choose a Product") {
            $('#lblAddProductId').text('Please choose a product');
            isValid = false;
        }

        // Validate Description
        var description = $('#addDescription').val();
        if (description.trim() === '') {
            $('#lblAddDescription').text('Description is required');
            isValid = false;
        }

        // Validate Quantity
        var quantity = $('#addQuantity').val();
        if (isNaN(quantity) || quantity <= 0) {
            $('#lblAddQuantity').text('Quantity must be a positive number');
            isValid = false;
        }

        return isValid;
    }

    $('#addEmployeeModal').on('hidden.bs.modal', function () {
        // Clear form fields and error labels when the modal is closed
        $('#addEmployeeModal input, #addEmployeeModal textarea').val('');
        $('.text-danger').text('');
    });

</script>

